<li>@Html.ActionLink("X-Ray Rooms", "Index", "XRayRooms", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Staffs", "Index", "Staffs", new { area = "" }, new { @class = "nav-link" })</li>