<li>@Html.ActionLink("Patients", "Index", "Patients", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Ratings", "Index", "Ratings", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Send Email", "Create", "Email", new { area = "" }, new { @class = "nav-link" })</li>
