<li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Bookings", "Index", "Bookings", new { area = "" }, new { @class = "nav-link" })</li>
<li>@Html.ActionLink("Medical Centers", "Index", "MedicalCenters", new { area = "" }, new { @class = "nav-link" })</li>
