
@{
    ViewBag.Title = "BookingsChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<h2>Bookings Chart</h2>

<div id="chart" style="height: 400px; width: 60%;"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chart", {
            title: {
                text: "Daily Number of Bookings"
            }
            data: [
                {
                    type: "column",
                    dataPoints: @Html.Raw(ViewBag.Data)
                }
            ]
        })
    }
    </script>
}